<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LanManagerEntities" connectionString="metadata=res://*/LanManager.csdl|res://*/LanManager.ssdl|res://*/LanManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=127.0.0.1\sqlexpress;Initial Catalog=LanManager;Persist Security Info=True;User ID=lanmanager;Password=lanmanager;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>